<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IndentSize" value="4"/>
  </appSettings>
  <unity>
    <assembly name="NodeTreeAnalyzer.Logic" />
    <container>
      <register type="NodeTreeAnalyzer.Logic.INodeDescriber,       NodeTreeAnalyzer.Logic" mapTo="NodeTreeAnalyzer.Logic.TextNodeDescriber,     NodeTreeAnalyzer.Logic"  />
      
    </container>
  </unity>
</configuration>
